@import "../../gui";
.textInput {
  height: 100%;
  width: 100%;
  color: $gray-light;
  @include md {
    min-width: 356px;
  }
  &.has-error {
    color: $alert;
    input {
      border-color: $alert;
    }
    input::placeholder {
      color: $alert;
    }
    .placeholderIcon {
      fill: $alert;
    }
  }
  label {
    max-height: 16px;
    min-width: 87px;
    font-weight: $font-weight-bold;
    font-size: $font-size-initial;
    letter-spacing: 0.3px;
    line-height: $line-height;
  }
  input {
    width: 100%;
    min-height: 32px;
    height: 100%;
    border: 1px solid $gray-light;
    border-radius: 4px;
    box-sizing: border-box;
    background: inherit;
    color: $gray-light;
    outline: none;
  }

  input::placeholder {
    color: $gray-light;
    font-size: $font-size-medium;
    letter-spacing: 0.35px;
    line-height: $line-height;
  }
  .placeholderIcon {
    width: $spacing-xl;
  }
  .field {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .field input {
    height: 100%;
    width: 100%;
    padding-left: $spacing-xl;
  }
  .field .placeholderIcon {
    position: absolute;
    left: 7px;
    pointer-events: none;
    top: 7px;
  }
}
