@import "../../gui";
.card {
  // background: #fff;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // border-radius: 4px;
  // position: relative;
  // display: flex;
  // justify-items: center;
  // align-items: center;
  // padding-top: 1em;
  // padding-bottom: 1em;
}
.card .item > svg {
  display: block;
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}
.card .item.large > svg {
  width: 65%;
}
.card:hover .item > svg {
  transform: translateY(-10%);
}
.item-title {
  position: absolute;
  left: 1em;
  bottom: 1em;
}
.image-container {
  position: relative;
  max-width: 320px;
}
.shadow {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 700px) {
  .card {
    grid-column: span 2;
  }
}

@media (max-width: 400px) {
  .card {
    grid-column: span 4;
  }
  .item-title {
    position: relative;
    left: 0;
  }
}
