.wrap {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}
.inventoryCard {
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0 auto;
  width: 100%;
  &.large {
    text-align: center;
    width: 100%;
  }
}
.layout {
  display: grid;
  grid-gap: 1em;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.card-b {
  grid-column: 2/4;
  grid-row: 1/3;
}
.card-c {
  grid-column: 4/5;
  grid-row: 1/3;
}

@media (max-width: 700px) {
  .card {
    grid-column: span 2;
  }

  .card-b {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .card-c {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}

@media (max-width: 400px) {
  .inventoryCard {
    grid-column: span 4;
  }
  .item-title {
    position: relative;
    left: 0;
  }
}
