@import "../../gui";
.colorBox {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.text {
  text-transform: capitalize;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border: 1px solid $gray-light;
  border-radius: 5%;

  &--blue {
    color: $white;
    background-color: $blue;
  }
  &--orange {
    color: $black;
    background-color: $orange;
  }
  &--black {
    color: $white;
    background-color: $black;
  }
  &--gray {
    color: $white;
    background-color: $gray;
  }
  &--gray-light {
    color: $white;
    background-color: $gray-light;
  }
  &--green {
    color: $black;
    background-color: $green;
  }
  &--white {
    color: $black;
    background-color: $white;
  }
}
