@import "../../gui";

:root {
  --character-pixel-size: 6;
  --character-animation: "";

  --position-y: "";
}
@media (min-width: 700px) {
  :root {
    --character-pixel-size: 3;
  }
}
@media (min-width: 1000px) {
  :root {
    --character-pixel-size: 4;
  }
}

.character {
  width: calc(32px * var(--character-pixel-size));
  height: calc(32px * var(--character-pixel-size));
  overflow: hidden;
  position: relative;
}
.top-level {
  z-index: 2;
}
.character_spritesheet,
.haircut_spritesheet,
.clothes_spritesheet,
.face_spritesheet,
.pants_spritesheet,
.styleItem_spritesheet,
.accessory_spritesheet,
.pet_spritesheet {
  width: calc(128px * var(--character-pixel-size));
  position: absolute;
  top: var(--position-y)
  :global {
    animation: var(--character-animation);
  }
}
.character_shadow {
  position: absolute;
  width: calc(32px * var(--character-pixel-size));
  height: calc(32px * var(--character-pixel-size));
}
.move {
  :global {
    animation: walkAnimation 0.6s steps(4) infinite;
  }
}

.pixelart {
  image-rendering: pixelated;
}
.face-down {
  top: calc(0px * var(--character-pixel-size));
}
.face-right {
  top: calc(-32px * var(--character-pixel-size));
}
.face-up {
  top: calc(-64px * var(--character-pixel-size));
}
.face-left {
  top: calc(-96px * var(--character-pixel-size));
}


@keyframes :global(walkAnimation) {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
