@import 'colors';

/**
* Colors
*/
$blue: var(--blue);
$blue-gray: var(--blue-gray);
$blue-dark: var(--blue-dark);
$orange: var(--orange);
$black: var(--black);
$gray: var(--gray);
$gray-light: var(--gray-light);
$gray-dark: var(--gray-dark);
$green: var(--green);
$white: var(--white);
$red: var(--red);

$info: $blue;
$alert: $orange;
$success: $green;
$disabled: $gray;
$placeholder: $gray-light;
$background-color: $black;
$error: $red;

/**
* Spacing
*/
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-base: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;

/**
* Border
*/
$border-default: 1px solid $gray-dark;
/**
* Box-shadow
*/
$box-shadow: 3px 3px 10px -1px rgba(11, 27, 102, 0.3);
/**
* Font-weight
*/
$font-weight-lighter: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
/**
* Font-size
*/
// $font-size-x-small: 12px;
// $font-size-xx-small: 12px;
// $font-size-smaller: 12px;
// $font-size-small: 12px;
$font-size-initial: 12px;
$font-size-medium: 14px;
// $font-size-xx-large: 12px;
// $font-size-x-large: 12px;
// $font-size-large: 12px;
// $font-size-larger: 12px;
/**
* Line-height
*/
$line-height: 16px;
